:root{
    --logo-size: 4em;
    --transition-middle: .4s;
    --transform-scale3: 1.3; 
    --transform-scale4: 1.4; 
    --transform-scale5: 1.5; 
    --transform-scale6: 1.6; 
    --transform-scale7: 1.7; 
    --border-radius: 10px;
}